body {
    font-family: 'Droid Sans Mono';
    color: #000000;
    font-size: 12pt;
    background-color: #c9c9c9
}

a {
    color: #474647;
}

a:hover {
    color: #000000;
}

h1 {
    margin: 0;
    font-family: 'Droid Sans Mono';
    color: #000000;
    font-size: 24pt;
    text-align: center;
    padding: 25px;
}

h2 {
    margin: 0;
    font-family: 'Droid Sans Mono';
    color: #000000;
    font-size: 24pt;
}

.chart text {
    fill: black;
    font: 15px Droid Sans Mono;
    text-anchor: start;
}

footer {
    text-align: center;
}
